$header-text-primary: #FFFFFF;
$header-text-primary-hover: #a3a591;
$header-text-primary-active: #8c9153;
$header-text-secondary: #FFE074;

$text-dark: #000;
$text-gray-900: #18191F;

$bg-dark: #333333;
$bg-light: #FFFFFF;

$color-box-gray-900: #18191F;
$color-box-gray-800: #474A57;
$color-box-gray-700: #969BAB;
$color-box-gray-300: #D9DBE1;
$color-box-gray-200: #EEEFF4;
$color-box-gray-100: #F4F5F7;

$color-box-purple: #8C30F5;
$color-box-purple-800: #D6B1FF;
$color-box-purple-100: #F1E4FF;
$color-box-turquoise: #2EC5CE;
$color-box-turquoise-800: #75E3EA;
$color-box-turquoise-100: #D5FAFC;
$color-box-orange: #FE9A22;
$color-box-orange-800: #FFC278;
$color-box-orange-100: #FFE3C1;
$color-box-pink: #F22BB2;
$color-box-pink-800: #FF72D2;
$color-box-pink-100: #FFB1E6;

$large-color-box: #72FFE6;

$color-box-pastel-green: #C1E5C0;
$color-box-pastel-blue: #C0DAE5;
$color-box-peach: #F39F9F;
$color-box-light-peach: #FDD9D9;
$color-box-cotton-candy: #FFC3D8;
$color-box-cyan: #A0DCFF;

$button-primary: #2196F3;
$button-primary-gradient: rgba(0, 105, 192, 1), rgba(33, 150, 243, 1), rgba(0, 105, 192, 1);
$button-primary-active: #0069C0;

$button-white: #fff;
$button-secondary: #5C6BC0;

$card-border: #E3E4EB;
$card-text: #555770;
$card-primary: #3366FF;

$bg-gray: #E5E5E5;